<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="constr" connectionString="Data Source=SUNIL-PC\SQLEXPRESS;Database=CA_DATA;User ID=sa;Password=root" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <!--this code is for increasing the size for file uploading file upto 4gb-->
    <httpRuntime
         executionTimeout="90"
         maxRequestLength="102400"/>
    <sessionState mode="InProc" cookieless="false"></sessionState>
    <compilation debug="true"/>
    <authentication mode="Forms">
      <forms protection="Validation" defaultUrl="Default.aspx"  loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"></forms>
    </authentication>
  </system.web>
</configuration>